@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;500;600;700;800;900&display=swap');

:root {
    --primary: rgb(189, 93, 56);
}

body {
    font-family: 'Saira Extra Condensed', sans-serif;
}
a {
    outline: none;
}
img {
    user-select: none;
}

h1, h2, h3 {
    color: #343a40;
}

.text-color {
    color: #6C757D;
}
.active-color {
    color: rgb(189, 93, 56);
    font-family: var(--bs-body-font-family);
    line-height: 1.5;
}

.navbar {
    background-color: var(--primary) !important;
}
.fixed-top {
    position: fixed;
    left: 0;
    top: 0;
    width: 17rem;
    height: 100vh;
}
.navbar-nav .nav-link {
    font-family: var(--bs-body-font-family);
    letter-spacing: 1.5px;
    transition: all .15s ease-in-out;
}
.navbar-brand img {
    border: .5rem solid #CA7D60;
}
.navbar-brand span {
    font-size: 1.25rem;
    font-family: var(--bs-body-font-family);
    font-weight: 400;
}

section {
    width: calc(100% - 17rem);
    float: right;
    min-height: 100vh;
    padding: 5rem 3rem;
    border-bottom: 1px solid #DBDDDF;
}

.title {
    font-weight: 700;
    line-height: 1.2;
}
.heading {
    font-size: 1.5rem;
}
.text {
    font-family: var(--bs-body-font-family);
    font-weight: 400;
}

h1.title {
    font-size: calc(1.725rem + 5vw);
}
h2.title {
    font-size: calc(1.475rem + 2.7vw);
}
h3.title {
    font-size: calc(1.325rem + 0.9vw);
}

#about .text {
    font-size: 1.2rem;
}
#about .link {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: #495057;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all .15s ease-in-out;
}
#about .link:hover {
    background-color: var(--primary);
}
#about .active-color {
    font-family: inherit;
}

#skills .list-inline-item {
    font-size: 3rem;
}
#skills .list-unstyled,
#awards .list-unstyled {
    font-family: var(--bs-body-font-family);
}
#awards .fas {
    color: #FFC107;
}

@media (max-width: 992px) {
    .fixed-top {
        width: 100%;
        height: auto;
    }
    section {
        width: 100%;
        padding: 5rem 1rem;
    }
}